<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div th:replace="~{base :: parent('Sonu Kumar from service layer', '25')}"></div> -->
     <!-- How to pass div in fragment -->
      <!-- <div class="host-tag" th:replace="~{base::parent(~{::section})}">
        <section>
            This is div from service.html
            <button>Click Me</button>
        </section>
      </div> -->
      <div class="host-tag" th:replace="${isLogin}?~{base::parent(~{::#main-section})}:~{base::parent(~{::#main-section-login})}">
       <section id="main-section">
           <p>
            This is main Section
           </p>
       </section>
       <section id="main-section-login">
           <p>
           User Not found. Please Login
           </p>
       </section>

      </div>
</body>
</html>